/* 
  Just to make pen look good
  You can skip it.
*/
body{
	height:100vh;
	display:flex;
  }
   .upload {
	  background-color: green;
	  border: none;
	  color: #FFFFFF;
	  padding: 15px 32px;
	  text-align: center;
	  -webkit-transition-duration: 0.4s;
	  transition-duration: 0.4s;
	  text-decoration: none;
	  font-size: 16px;
	  cursor: pointer;
	
  }
  .delete {
		background-color: red;
		border: none;
		color: #FFFFFF;
		padding: 15px 32px;
		text-align: center;
		-webkit-transition-duration: 0.4s;
		transition-duration: 0.4s;
		text-decoration: none;
		font-size: 16px;
		cursor: pointer;
  }
  #container{
	display:grid;
	width:300px;
	margin:auto;

	text-align:center;
  }

  img{
	max-width:calc(100% - 20px);
	margin:10px;
	
  }